dependency-check
dependency-check.stale
dependency-check.zip
dependency-check-report.html
dependency-check-report.json
dependency-scan.log
download.log
galleon
galleon.zip
owasp-database
unzip.log
#wildfly


# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# Java
*.class
*.jar
*.war
*.ear
*.log
hs_err_pid*
